@model List<TblBlog>
@{
	ViewData["Title"] = "Blogs";

	bool isShowMessage = TempData["IsSuccess"] != null;
	bool isSuccess = false;
	string message = "";
	if (isShowMessage)
	{
		isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
		message = Convert.ToString(TempData["Message"]);
	}
}

@if (isShowMessage)
{
	if (isSuccess)
	{
		<div class="alert alert-success mb-3" role="alert">
			@message
		</div>
	}
	else
	{
		<div class="alert alert-danger mb-3" role="alert">
			@message
		</div>
	}
}

<a href="/Blog/Create" class="btn btn-outline-success">Create New Blog</a>

<div class="container mt-4">
	<div class="row" id="blogList">
		@for (int i = 0; i < Model.Count; i++)
		{
			var blog = Model[i];
			<div class="col-sm-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">@(blog.BlogTitle)</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">
							@(blog.BlogAuthor)
						</h6>
						<p class="card-text">
							@(blog.BlogContent)
						</p>
						<a type="button" class="btn btn-warning editBtn" href="/Blog/Edit/@blog.BlogId">
							Edit
						</a>
						<a class="btn btn-danger deleteBtn" href="/Blog/Delete/@blog.BlogId">
							Delete
						</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>